.c-btn {
    display: block;
    max-width: 330px;
    text-align: center;
    color: #fff;
    font-size: $font-size_m;
    font-weight: bold;
    padding: 15px 80px;
    background: $main-color;
    border-radius: 4px;
    @include mq($breakpoint: md) {
        width: 100%;
        padding: 15px 60px;
    }
    &--upload {
        margin: 0 auto;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        border-radius: 50px;
        background: $main-color;
        padding: 25px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        max-width: 250px;
        transition: .3s;
    }
    &--upload:hover {
        background: #80ddd5;
        transition: .3s;
    }
    &--apply {
        background: #FAA643;
        width: 250px;
        text-align: center;
        color: #fff;
        font-size: $font-size_m;
        font-weight: bold;
        padding: 15px 80px;
        border-radius: 4px;
        display: block;
    }
    &--apply:hover {
        background: #f6bf7c;
        cursor: pointer;
    }
    &--danger {
        background: #f52152;
        width: 250px;
        text-align: center;
        color: #fff;
        font-size: $font-size_m;
        font-weight: bold;
        padding: 15px 80px;
        border-radius: 4px;
        display: block;

    }
    &--danger:hover {
        background: #fb7292;
        cursor: pointer;
    }
}
.c-btn:hover {
    background: #80ddd5;
    cursor: pointer;
}