.c-comment {
    &__user {
        display: flex;
        align-items: flex-start;
        width: 100%;
        max-width: 90%;
        @include mq($breakpoint: md) {
            max-width: 100%;
        }
    }
    &__user--send {
        flex-direction: row-reverse;
        margin-left: auto;
    }
    &__user__avater:hover {
        opacity: 0.7;
        text-decoration: underline;
    }
    &__user__avater--send {
        margin-left: 16px;
        @include mq($breakpoint: md) {
            margin-left: 8px;
        }
    }
    &__user__avater--receved {
        margin-right: 16px;
        @include mq($breakpoint: md) {
            margin-right: 8px;
        }
    }
    &__user__avater__img {
        width: 80px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 4px;
        @include mq($breakpoint: md) {
            width: 40px;
        }
    }
    &__user__avater__name {
        max-width: 80px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 4px;
        word-break: break-all;
        @include mq($breakpoint: md) {
            width: 40px;
            font-size: .8rem;
        }
    }
    &__user__content {
        width: calc(100% - 96px);
        @include mq($breakpoint: md) {
            width: calc(100% - 46px);
        }
    }
    &__user__message {
        width: calc(100% - 48px);
        padding: 8px 16px;
        min-height: 60px;
        border-radius: 6px;
        @include mq($breakpoint: md) {
            min-height: 40px;
        }
        @include mq() {
            width: 100%;
        }
    }
    &__user__message--send {
        background: #E2EEFA;
        position: relative;
        margin-left: auto;
    }
    &__user__message--send::after {
        content: "";
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 5px;
        margin-top: -5px;
        top: 20px;
        left: 100%;
        border-right-color: #E2EEFA;
        transform: rotate(180deg);
    }
    &__user__message--receved {
        background: #FDE8E8;
        position: relative;
    }
    &__user__message--receved::after {
        content: "";
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 5px;
        margin-top: -5px;
        top: 20px;
        right: 100%;
        border-right-color: #FDE8E8;
    }
    &__user__text {
        word-break: break-all;
    }
}