.c-flash-message {
    font-size: 1.1rem;
    padding: 20px;
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    z-index: 1001;
    &--success {
        color: #0f5132;
        background-color: #d1e7dd;
        border-color: #badbcc;
        font-weight: bold;
    }
    &--danger {
        color: #510f37;
        background-color: #e7d1e0;
        border-color: #e1beda;
        font-weight: bold;
    }
}