.c-form {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    padding: 60px;
    @include mq($breakpoint: md) {
        padding: 30px 20px;
    }
    &__heading {
        color: #000;
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
        @include mq($breakpoint: md) {
            font-size: 1.4rem;
        }
    }
    &__text {
        text-align: center;
        line-height: 1.3;
    }
    &__list {
        margin-top: 20px;
    }
    &__list:first-child {
        margin-top: 0;
    }
    &__head {
        font-size: 1rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &__input {
        font-size: 1rem;
        padding: 10px 15px;
        box-sizing: border-box;
        border: 1px solid #C0C4CE;
        border-radius: 6px;
        width: 100%;
        &.is-error {
            background: #f8d7da;
            border-color: #f5c2c7;
        }
    }
    &__input--sm {
        max-width: 130px;
    }
    &__checkbox__text {
        display: inline-block;
        padding-left: 40px;
        position: relative;
    }
    input[type=checkbox] +  &__checkbox__text::before {
        content: "";
        border: 1px solid #C0C4CE;
        background: #fff;
        border-radius: 4px;
        display: inline-block;
        margin-right: 12px;
        width: 24px;
        height: 24px;
        position: absolute;
        top: -4px;
        left: 0;
    }
    input[type=checkbox] + &__checkbox__text::after {
        content: "";
        border-right: 2px solid #21B7B6;
        border-bottom: 2px solid #21B7B6;
        position: absolute;
        opacity: 0;
        transform: rotate(45deg);
        transition: all 0.3s;
        width: 6px;
        height: 11px;
        top: 1px;
        left: 10px;
        z-index: 1;
    }
    input[type=checkbox]:checked + &__checkbox__text::after {
        opacity: 1;
    }
    &__list {
        margin-top: 40px;
    }
    &__head__icon {
        font-size: 12px;
        padding: 5px 10px;
        color: #fff;
        margin-left: 10px;
        border-radius: 4px;
    }
    &__head__icon--required {
        background: #f57b4e;
    }
    &__select {
        border: 1px solid #C0C4CE;
        border-radius: 6px;
        width: 100%;
        font-size: 1rem;
        padding: 10px 15px;
        background: url('../images/select.svg');
        background-size: 10px;
        background-position: center right 10px;
        background-repeat: no-repeat;
    }
    &__col {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        font-size: .8rem;
    }
    &__col__body {
        display: flex;
        align-items: center;
    }
    &__col__body__unit {
        margin-left: 10px;
        font-weight: bold;
    }
    &__textarea {
        border: 1px solid #C0C4CE;
        border-radius: 6px;
        width: 100%;
        height: 350px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 1rem;
    }
    &__textarea--message {
        height: 200px;
    }
    &__count {
        margin-top: 10px;
        text-align: right;
        font-size: .8rem;
    }
    &__radio__text {
        display: inline-block;
        font-size: .9rem;
        padding-left: 40px;
        position: relative;
        line-height: 1.5;
    }
    input[type=radio] {
        opacity: 0;
        position: absolute;
    }
    input[type=radio] + .c-form__radio__text::before {
        content: "";
        border: 2px solid #C0C4CE;
        background: #fff;
        border-radius: 50%;
        display: inline-block;
        margin-right: 12px;
        width: 24px;
        height: 24px;
        position: absolute;
        top: -4px;
        left: 0;
    }
    input[type=radio] + .c-form__radio__text::after {
        content: "";
        background: #6b9aef;
        border-radius: 50%;
        position: absolute;
        opacity: 0;
        transition: all 0.3s;
        width: 18px;
        height: 18px;
        top: 1px;
        left: 5px;
        z-index: 1;
    }
    input[type=radio]:checked + .c-form__radio__text::after {
        opacity: 1;
    }
}