.c-header-nav {
    z-index: 1001;
    position: fixed;
    right: 40px;
    top: 20px;
    @include mq($breakpoint: md) {
        background: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
        border-radius: 0 0 16px 16px;
        overflow: auto;
        position: fixed;
        right: 0;
        top: 60px;
        width: 100%;
        transition: all 0.3s;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
    }
    &__content {
        @include mq($breakpoint: md) {
            width: 100%;
        }
    }
    &__btn {
        display: block;
        padding: 8px;
        box-sizing: border-box;
        font-size: 12px;
        border-radius: 4px;
        margin: 0 5px;
        &:hover {
            opacity: .6;
        }
        @include mq($breakpoint: md) {
            width: 100%;
            margin: 0 0 10px;
            font-size: 16px;
            text-align: center;
            padding: 18px 0;
        }
        &__wrap {
            display: flex;
            align-items: center;
            @include mq($breakpoint: md) {
                display: block;
                padding: 20px;
            }
        }
        &--login {
            color: $sub-color1;
            border: solid 1px $sub-color1;
        }
        &--register {
            color: #fff;
            background: #3479CA;
        }
    }
    &__user {
        position: relative;
        &__btn {
            display: flex;
            align-items: center;
            font-weight: bold;
            color: #587170;
            font-size: 1.4rem;
            @include mq($breakpoint: md) {
                display: none;
            }
            &:hover {
                cursor: pointer;
            }
        }
        &__icon {
            width: 40px;
            margin-right: 10px;
            > img {
                -o-object-fit: cover;
                object-fit: cover;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        &__list {
            text-align: center;
            @include mq($breakpoint: min-md) {
                width: 230px;
                background: #fff;
                box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
                display: none;
                position: absolute;
                top: 50px;
                right: 0;
                border-radius: 10px;
                overflow: hidden;
            }
            &.is-show {
                @include mq($breakpoint: min-md) {
                    display: block;
                }
            }
        }
        &__link {
            padding: 15px 20px;
            font-size: 18px;
            display: block;
            border-bottom: 1px solid #d9d9d9;
            &:hover {
                background: #F0F4F8;
            }
            &--logout {
                width: 100%;
                color: #000;
                font-weight: normal;
            }
        }
    }
    &.is-navOpen {
        @include mq($breakpoint: md) {
            opacity: 1;
            z-index: 100;
            visibility: visible;
            }
        }
}