.c-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1100;
    display: none;
    &__bg {
        background: rgba(0, 0, 0, 0.6);
        height: 100%;
        position: fixed;
        width: 100%;
    }
    &__content {
        padding: 40px;
        width: 100%;
        max-width: 600px;
        background: #fff;
        border-radius: 6px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1101;
        @include mq() {
            width: 95%;
            padding: 40px 20px;
        }
    }
    &__close {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 16px;
        right: 16px;
    }
    &__form__text {
        margin: 20px 0;
        line-height: 1.2;
    }
    &__form__text--sub {
        font-size: 0.8rem;
        color: #707070;
        margin: 20px 0;
    }
    &__form__btn {
        margin-top: 30px;
    }
}