.c-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq($breakpoint: md) {
        margin-bottom: 40px;
    }
    &__item {
        width: 40px;
        height: 40px;
        margin: 4px;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
        @include mq($breakpoint: md) {
            width: 30px;
            height: 30px;
        }
    }
    &__item.active .c-pagination__link {
        background: #00BCAE;
        color: #fff;
    }
    &__item.active .c-pagination__link:hover {
        background: #fff;
        color: #000;
        border: 1px solid #00BCAE;
    }
    &__link {
        border: 1px solid #C0C4CE;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        transition: all 0.3s;
        line-height: 1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        @include mq($breakpoint: md) {
            font-size: 0.9rem;
            line-height: 30px;
        }
    }
    &__link:hover {
        background: #ebebeb;
        cursor: pointer;
    }
}