.c-panel {
    &__item {
        border: 1px solid #d9d9d9;
    }
    &__none {
        padding: 20px 40px;
        min-height: 100px;
        text-align: center;
        background: #F4F4F4;
        color: #575757;
        line-height: 100px;
        font-size: 1.1rem;
        font-weight: bold;
    }
    &__link {
        display: block;
        padding: 20px 40px;
        position: relative;
        width: 100%;
        border-radius: 4px;
        @include mq($breakpoint: md) {
            padding: 20px;
        }

        &.is-finished {
            overflow: hidden;
        }
        &.is-finished::before {
            content: 'この案件の募集は終了しました';
            font-size: 1.1rem;
            font-weight: bold;
            position: absolute;
            color: #fff;
            top: 50%;
            left: 50%;
            width: 100%;
            text-align: center;
            transform: translate(-50%, -50%);
            letter-spacing: 0.05em;
            z-index: 20;
            }
        &.is-finished::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 10;
            }
    }
    &__link:hover {
        background: #F0F4F8;
        border: 2px solid #97e1a7;
    }
    &__title {
        font-weight: bold;
        color: $sub-color1;
        margin-bottom: 15px;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        @include mq($breakpoint: md) {
            font-size: 0.8rem;
        }
    }
    &__price-wrap {
        display: flex;
        color: #CC0221;
        font-weight: bold;
        margin-top: 15px;
    }
    &__price {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        @include mq($breakpoint: md) {
            font-size: 0.8rem;
        }
    }
}