.c-search {
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    width: 100%;
    padding: 20px 35px;
    margin-bottom: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq() {
        padding: 20px 10px;
    }
    &__head {
        border-right: 5px solid #707070;
        padding: 20px 10px;
        @include mq() {
            padding: 10px;
        }
    }
    &__title {
        font-size: 1rem;
        font-weight: bold;
    }
    &__body {
        width: 60%;
        @include mq() {
            width: 50%;
        }
    }
    &__select {
        border: 1px solid #C0C4CE;
        border-radius: 6px;
        padding: 10px 20px;
        font-size: 1rem;
        width: 100%;
        background: url('../images/select.svg');
        background-size: 10px;
        background-position: center right 10px;
        background-repeat: no-repeat;
        @include mq() {
            font-size: .8rem;
        }
    }
    &__btn {
        background: #5A9DC1;
        padding: 8px 35px;
        border-radius: 50px;
        color: #fff;
        font-size: 1.4rem;
        @include mq() {
            padding: 8px 30px;
        }
    }
    &__btn:hover {
        cursor: pointer;
        opacity: .8;
    }
}