.p-profile {
    @include mq($breakpoint: lg) {
        padding-bottom: 50px;
    }
    &__head {
        margin-bottom: 40px;
    }
    &__title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 15px;
    }
    &__img {
        margin: 0 auto;
        margin-bottom: 16px;
        border-radius: 50%;
        overflow: hidden;
        max-width: 160px;
    }
    &__img > img {
        width: 160px;
        height: 160px;
        -o-object-fit: cover;
        object-fit: cover;
        font-family: "object-fit: cover;";
    }
    &__mail {
        display: flex;
        justify-content: space-between;
    }
    &__mail__text {
        line-height: 1.8;
        margin-left: 40px;
    }
    &__mail__btn:hover {
        color: $main-color;
        text-decoration: underline;
    }
    &__btn {
        margin-top: 30px;
    }
}