.p-product-detail {
    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        color: $sub-color1;
        margin-top: 10px;
        margin-bottom: 20px;
        word-break: break-all;
        @include mq($breakpoint: md) {
            line-height: 1.3;
        }
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        @include mq($breakpoint: md) {
            padding: 0 10px;
        }
    }
    &__heart {
        color: #C0C4CE;
        font-size: 30px;
        &.is-active {
            color: #EAA8BF;
        }
    }
    &__heart:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    &__requester {
        margin: 50px 0 30px;
    }
    &__requester__link {
        display: flex;
        align-items: center;
        padding: 20px;
        border: 1px solid #C0C4CE;
        border-radius: 6px;
        @include mq() {
            padding: 20px 10px;
        }
    }
    &__requester__link:hover {
        background: #f7f7f7;
    }
    &__requester__title {
        @include mq() {
            font-size: .8rem;
        }

    }
    &__img {
        width: 80px;
        overflow: hidden;
        border-radius: 50%;
        @include mq() {
            width: 60px;
        }
    }
    &__name {
        font-size: 1.3rem;
        color: $sub-color1;
        margin-left: 15px;
        word-break: break-all;
        max-width: 60%;
        @include mq() {
            max-width: 50%;
        }
    }
    &__price {
        color: #CC0221;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 30px;
        word-break: break-all;
    }
    &__price__unit {
        font-size: 1rem;
    }
    &__content {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &__content__text {
        padding: 20px;
        font-size: 1.2rem;
        background: #eee;
        border-radius: 4px;
        min-height: 200px;
        word-break: break-all;
    }
    &__form {
        margin-top: 60px;
    }
    &__twitter {
        background: #1DA1F2;
        max-width: 120px;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 30px;
        .fa-twitter {
            margin-right: 4px;
        }
        a{
            font-size: .9rem;
            line-height: 1.7;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px 10px;
            width: 100%;
        }
    }
}