.p-signup {
    &__btn {
        margin-top: 35px;
        text-align: center;
        &__text {
            margin-top: 40px;
            font-size: $font-size_s;
            line-height: 1.4;
        }
        &__link {
            color: $main-color;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    &__link {
        margin-top: 30px;
        &__forget {
            color: $main-color;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}