html,body {
    width: 100%;
    height: 100%;
    font-family: $font-family;
    color: $font-color;
}
body {
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
a {
    color: $font-color;
    text-decoration: none;
    transition: .3s;
    &:hover {
      transition: .3s;
    }
  }
button {
  transition: .3s;
  &:hover {
    transition: .3s;
    cursor: pointer;
  }
}
img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  flex-shrink: 0;
}
input,button,textarea,select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select {
  &::-ms-expand {
    display: none;
  }
}
input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
input[type=email]:focus,input[type=password]:focus,input[type=text]:focus,select:focus,textarea:focus {
  border: 2px solid rgb(77, 184, 211);
  outline: rgb(77, 184, 211);
}
input[type=file] {
  opacity: 0;
  position: absolute;
}